<!DOCTYPE html>
<html>
  <head>
    <title>YI-Center</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
  </head>
  <body>
      <nav>
        <button id="close"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
        <ul>
          <li><i class="fa fa-file" aria-hidden="true"></i>  <span>所有笔记</span></li>
          <li><i class="fa fa-star" aria-hidden="true"></i> <span>收藏夹</span></li>
          <li><i class="fa fa-trash" aria-hidden="true"></i> <span>垃圾箱</span></li>
          <li><i class="fa fa-book" aria-hidden="true"></i> <span>所有笔记本</span></li><br/><br/>
          <p>Other</p>
          <li id="configBtn"><i class="fa fa-cog" aria-hidden="true"></i> <span> 设置</span></li>
        </ul>
      </nav>
      <div id="mask"></div>
      <div id="left">
        <button id="open"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <i class="fa fa-search" aria-hidden="true"></i><input type="text" name="search" class="search">
        <a href="/edit"><button id="newFile"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
        <div id="titleController">
          <!-- <div class="notes">
            <p class="note_title">我是标题</p>
            <p class="brief">我是内容的缩略......</p>
            <div><i class="fa fa-trash" aria-hidden="true"></i></div>
            <div class="collect"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>-->
        </div>
      </div>

      <div id="right">
        <div id="face">
          <a href="/" id="back"><i class="fa fa-share" aria-hidden="true"></i></a>  
          <span id="welcome"><img src="images/logo2.png"><br/>欢迎使用YI酱云笔记 </span>       
          <div id="guide">
            <p><span>YI酱-Note</span> <br/>——— 陪伴你的每一个奇思异想</p>
            <h3>您可以在这里</h3>
            <ul>
              <ol>1,新建笔记</ol>
              <ol>2,上传文档</ol>
              <ol>3,分享笔记</ol>
            </ul>
            
          </div>
        </div>
        <div id="noteContent">
          <div id="headBtn">
            <a id="editPath" href="#"><button id="editBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 修改</button></a>
            <button id="pswBtn"> <i class="fa fa-unlock-alt" aria-hidden="true"></i> 加密</button>
            <button id="delLock"><i class="fa fa-times-circle" aria-hidden="true"></i> 删除加密锁</button>
          </div>
          <div id="contentText">
            <div class="contentIndex">
                <b class="indexCollect"></b>
                <h1 class="indexTitle">Title</h1>
                <div class="indexTime"></div>
                <div class="contentDetail">
                  content
                </div>
            </div>
            
          </div>
          <div id="pswMask"></div>
          <div id="pswContent">
            <input type="password" placeholder="请输入6位数字密码" id="pswText"><br/>
            <input type="button" value="确认" id="pswOK"> 
            <input type="button" value="取消" id="pswCancel"> 
          </div>
        </div>
      </div>

      <!-- 设置弹出层页面 --> 
      <div id="configContent">
        <!-- <header><span>设置页面</span></header> -->
         <p id="config_Close">X</p>
         <!-- content -->
          <div id="config-icon">
            <img src="images/black.png" id="theme">
            <img src="images/lock.png">
          </div>
         
      </div> 
  </body>
  <script type="text/javascript" src="javascripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
</html>
